@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.myGame {
  height: 100vh;
}

canvas {
  background-color: rgb(32, 32, 32);
  max-width: 100%;
  cursor: crosshair;
}

.scoreBoard {
  position: fixed;
  top: 5%;
  left: 5%;
  font: 600 1.2vmax "Roboto Mono";
  color: white;
  display: none;
}

form {
  background-color: rgba(34, 34, 34, 0.5);
  height: 60vh;
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
form > select,
form select option {
  padding: 2vmax;
  width: 20vw;
  text-align: center;
  font-size: 1.4vmax;
  font-family: "Roboto Mono";
  outline: none;
  transition: all 0.5s;
  border: none;
  /* box-shadow: 2px 2px 0 #b4b4b4, -2px -2px 0 #b9b9b9; */
}
form > input {
  /* margin: 1vmax; */
  padding: 2vmax;
  width: 20vw;
  cursor: pointer;
  border: none;
  color: white;
  transition: all 0.5s;
  background-color: rgb(124, 124, 124);
  font-size: 1.4vmax;
  font-family: "Roboto Mono";
  outline: none;
  /* box-shadow: 2px 2px 0 #474747, -2px -2px 0 #535353; */
}

form > select:hover {
  box-shadow: inset 2px 2px 1px #b4b4b4, inset -2px -2px 1px #b9b9b9;
}
form > input:hover {
  background-color: rgb(32, 32, 32);
  box-shadow: inset 2px 2px 1px #474747, inset -2px -2px 1px #535353;
}

.gameover {
  background-color: rgba(122, 122, 122, 0.041);
  border-radius: 5px;
  position: fixed;
  top: 45%;
  height: 100vh;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameover > button {
  padding: 1vmax;
  border: 2px solid rgb(88, 88, 88);
  cursor: pointer;
  width: 10vw;
  background-color: rgb(206, 206, 206);
  font: 900 1.1vmax "Roboto Mono";
  transition: all 0.5s;
}
.gameover > button:hover {
  background-color: rgb(30, 30, 34);
  color: white;
  box-shadow: inset 2px 2px 1px #474747, inset -2px -2px 1px #535353;
}

.gameover > div {
  margin: 2vmax;
  color: white;
  font: 600 1.2vmax "Roboto Mono";
}
